.panda-nav-bg{
    background-color: #f8f9fa;
}
.panda-slides-bg{
    background-color: #feeae9;
}
.extra-margin{
    margin-bottom: 100px;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}